# Mastodon - get an access token from Settings > Development > New Application
MASTODON_INSTANCE=https://mastodon.social
MASTODON_ACCESS_TOKEN=your_access_token_here

# Bluesky - use an App Password from Settings > App Passwords
BLUESKY_IDENTIFIER=your.handle.bsky.social
BLUESKY_PASSWORD=your_app_password_here
